<h1>Create Post</h1>

<form action="/admin/posts/create" method="post" enctype="multipart/form-data">
    
    <div class="form-group">
        <label for="title">Title</label>
        <input name="title" type="text" class="form-control" id="title" placeholder="Enter title" required>
    </div>

    <div class="form-group">
        <label for="file">Upload file</label>
        <input name="file" type="file" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="title">Category</label>
            <select name="category" class="form-control" id="category">

                {{#each categories}}

                    <option value="{{id}}">{{name}}</option>  
                    <!-- Tukaj je pomembno, da je {{id}}, ki se nanaša na model Category, ki je znotraj modela Posts -->
                   
                {{/each}}

            </select>
    </div>

    <div class="form-group">
        <label for="title">Status</label>
            <select name="status" class="form-control" id="statsu" required>
                <option value="public">Public</option>
                <option value="private">Private</option>
                <option value="draft">Draft</option>
            </select>
    </div>

    <div class="form-check">
        <label for="allowComments" class="form-check-label">
        <input name="allowComments" type="checkbox" class="form-check-input" id="allowComments">
            Allow Comments
        </label>
    </div>

    <div class="form-group">
        <label for="body">Body</label>
        <textarea name="body" cols="30", rows ="10" value="" class="form-control" id="body" placeholder="Enter description" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Create Post</button>
</form>