{{#if success_message}}
    <div class="alert alert-success">
        {{success_message}}
    </div>
{{/if}}

{{#if warning_message}}
    <div class="alert alert-warning">
        {{warning_message}}
    </div>
{{/if}}